.packagesPage {
    height: 100svh;
    height: 100vh;
}

.titleWrapper h1 {
    font-size: 1.35rem;
    color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    text-shadow: 0 0 1px var(--color-white), 0 0 3px var(--color-white), 0 0 5px var(--color-white), 0 0 6px var(--color-white);
}

.titleWrapper h1 span {
    height: 100%;
}

.titleWrapper .subtitleText {
    padding: 0 2rem 0.5rem;
    margin-block-start: -1rem;
    text-wrap: balance;
    font-size: 1.5rem;
    color: var(--stop-color2);
}

.imageWrapper {
    width: 100%;
    height: calc(100% - 5rem);
    max-height: 30vh;
    position: relative;
    padding: 0 4rem 1rem;
    will-change: transform;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    will-change: transform;
}

.logoUnderlay {
    position: absolute;
    right: -40px;
    bottom: -50px;
    rotate: 15deg;
    opacity: 0.5;

    mix-blend-mode: soft-light;
}

.descriptionWrapper {
    --color-bg: rgba(243, 239, 236, 0.75);
    --color-fill: var(--stop-color2);
    --color-title: #692914bd;
    border-radius: 1rem;
    background-color: var(--color-bg);
    color: var(--color-fill);
    border: solid 1px var(--color-fill);
    padding: 1rem;
    margin: 0 2rem 1.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 1.8px 1.8px 3.6px rgba(0, 0, 0, 0.07), 5px 5px 10px rgba(0, 0, 0, 0.1), 12.1px 12.1px 24.1px rgba(0, 0, 0, 0.13),
        40px 40px 80px rgba(0, 0, 0, 0.2);
    will-change: transform;
    font-size: 1rem;
}

.descriptionTitle {
    width: 100%;
    background-color: var(--color-title);
    color: rgb(243, 237, 225);
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-block-end: 0.5rem;
    letter-spacing: 0.5px;
    padding-block: 0.25rem;
    box-shadow: 1.8px 1.8px 3.6px rgba(0, 0, 0, 0.07), 5px 5px 10px rgba(0, 0, 0, 0.1), 12.1px 12.1px 24.1px rgba(0, 0, 0, 0.13),
        40px 40px 80px rgba(0, 0, 0, 0.2);
}

.descriptionItem {
    margin-block-end: 0.25rem;
}

.descriptionItem > svg {
    margin-inline-end: 0.5rem;
}

@media (min-width: 768px) {
    .titleWrapper h1 {
        font-size: 2rem;
    }

    .titleWrapper .subtitleText {
        font-size: 2rem;
    }

    .descriptionWrapper {
        width: 100%;
        max-width: 31.25rem;
        margin-inline: auto;
        margin-block-end: 2.5rem;
    }

    .imageWrapper {
        max-height: 40vh;
        margin-block: 2rem;
        padding: 0;
    }

    .descriptionTitle {
        font-size: 1.5rem;
    }
}
