.page {
    height: 100%;
    width: 100%;
    display: flex;
    scroll-snap-align: start;
    flex-shrink: 0;
    flex-direction: column;
}

.pageWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 85vh;
    z-index: 1;
}

.titleText {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titleText h1 {
    color: var(--main-color);
    font-size: 1.5rem;
    text-shadow: 0 0 1px var(--color-white), 0 0 3px var(--color-white), 0 0 5px var(--color-white), 0 0 6px var(--color-white);
}

.logo {
    margin: 1rem auto 0;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
}
